body {
    color: #777;
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../image/concrete_seamless.png");
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.header-title {
    background-color: #4aaaa5;
    color: #fff;
    margin-top: 7px;
    padding: 31px 49px;
    float: left;
    font-size: 25px;
}

.header-links {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 32px 0
}

.header-links li {
    float: left;
    padding: 0 25px;
    border-left: 1px solid #dedede;
}

.header-links li:first-child {
    border-left: 0;
}

.header-links li:last-child {
    padding-right: 0;
}

.header-links li a {
    color: #777;
    font-size: 18px;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: -20px;
    margin-right: -20px;
}

.col {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-body {
    width: 650px;
    background-color: #fff;
    padding: 25px;
    border: 1px solid #ddd;
}

.content-body h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
}

.content-body hr {
    background-color: #ddd;
    height: 2px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-body .form-group {
    margin-bottom: 15px;
}

.content-body .form-label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.content-body .form-field {
    width: 100%;
    padding: 8px 8px;
    font-size: 14px;
    border: 1px solid #ddd;
}

.content-body .form-submit {
    background-color: #4aaaa5;
    border: 0;
    color: #fff;
    padding: 10px 25px;
    font-size: 16px;
}

.content-sidebar {
    width: 270px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
}

.content-sidebar h3 {
    font-size: 22px;
    margin: 0;
}

.content-sidebar hr {
    background-color: #eee;
    height: 2px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-sidebar .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-sidebar .social-links::after {
    content: "";
    display: table;
    clear: both;
}

.content-sidebar .social-links {
    display: flex;
}

#stackoverflow {
    margin-right: -15px;
}

.content-sidebar .social-links img{
    vertical-align: baseline;
    width: 57px;
    height: 57px;
    margin-right: 24px;
}

.profile_img{
    width: 117px;
    height: 142px;
    float:left;
    margin-right: 15px;
    margin-bottom: 12px;
  }

.profile_img:hover{
    width: 128px;
    height: 159px;
}

.main_content{
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
}

.content_img{
    display: inline;
}

.activity_image{
    width: 280px;
    height: 200px;
    position: relative;
}

.content_img::after{
    content: "";
    display: table;
    clear: both;
}

.box{
    float: left;
    position: relative;
    width: 280px;
    height: 200px;
    margin-bottom: 40px;
    margin-right: 5px;
}

.box_2, .box_4{
    margin-right: 0;
    margin-left: 33px;
}

.activity_title{
    position: absolute;
    background-color: #4aaaa5;
    color: #fff;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 20px 5px;
}

.activity_title:hover{
  font-size: 20px;
}

.footer {
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background-color: #666;
    padding: 40px 0;
}

.footer .copyright {
    margin: 0;
    font-size: 12px;
    color: #bbb;
}
